.popup-box{
  background-color: #fff;
  width: 100vw;
  height: 50vh;
  overflow: hidden;
  box-sizing: border-box;
  >.title-box{
    width: 100vw;
    height: 12vw;
    line-height: 12vw;
    text-align: center;
    color: #161616;
    font-size: 4.5vw;
    border-bottom: 1px solid #efefef;
    position: relative;
    >.close-but{
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      width: 6vw;
      height: 6vw;
      svg.icon{
        width: 3.5vw;
        height: 3.5vw;
        vertical-align: middle;
        fill: currentColor;
        overflow: hidden;
        color: #919191;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  >.popup-content-box{
    width: 100vw;
    height: calc(50vh - 12vw);
    overflow-y: auto;
    overflow-x: hidden;
  }
}