.voucher-center{
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 25px;
  background-color: #fff;
  .voucher-center-navbar{
    border-bottom: 1px solid #d8d8d8;
    .icon-but{
      color: #343434;
    }
  }
}
  