.my-order{
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 15px;
  background-color: #fff;
  .my-order-navbar{
    border-bottom: 1px solid #f1f1f1;
  }
  .my-order-mescroll{
    width: 100vw;
    height: calc(100vh - 58px);
    background-color: #f4f4f4;
    padding-top: 37px;
    .am-tabs-tab-bar-wrap{
      position: fixed;
      width: 100%;
      left: 0;
      top: 58px;
      z-index: 1;
    }
    .am-tabs{
      height: auto !important;
      min-height: 50vh;
    }
  }
  .more-goods{
    width: 100%;
    .title-box{
      background-color: #fff;
      text-align: center;
      padding: 3vw 0vw;
      color: #de2f04;
      font-size: 3.5vw;
      .icon{
        width: 4.5vw;
        height: 4.5vw;
        vertical-align: middle;
        fill: currentColor;
        overflow: hidden;
        color: #de2f04;
        vertical-align: middle;
        margin-right: 1vw;
      }
    }
  }
}