#personal-center-mescroll{
  width: 100vw;
  // height: calc(100% - 45px);
  .status-bar-box{
    position: sticky;
    top: 0;
    height: 25px;
    background-color: #f5f5f9;
    z-index: 99;
  }
  .order-menu-box{
    width: 100vw;
    background-color: #fff;
    box-sizing: border-box;
    padding: 2vw 3vw;
    box-shadow: 0 -2vw 4vw 0 #ffc0c061;
    .order-menu-title{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      font-size: 3.5vw;
      font-weight: 400;
      color: #111111;
      a{
        color: #999999;
        font-size: 3.5vw;
        font-weight: normal;
      }
    }
  }
  .product-list{
    display: flex;
    width: 100vw;
    background-color: #fff;
    .title-box{
      width: 100%;
      color: #e22b2d;
      padding: 3vw 0 2vw 0;
      font-size: 4vw;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      svg.icon{
        width: 5vw;
        height: 5vw;
        vertical-align: middle;
        fill: currentColor;
        overflow: hidden;
        margin-right: 1vw;
      }
    }
  }
}