.coupon-invalid{
  width: 100%;
  .coupon-invalid-box{
    width: 100%;
    min-height: 25vw;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 2vw;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    overflow: hidden;
    &:before{
      content: " ";
      display: block;
      width: 5vw;
      height: 5vw;
      border-radius: 50%;
      background-color: #f4f4f4;
      position: absolute;
      top: 50%;
      left: -2.5%;
      transform: translateY(-50%);
    }
    &:after{
      content: " ";
      display: block;
      width: 5vw;
      height: 5vw;
      border-radius: 50%;
      background-color: #f4f4f4;
      position: absolute;
      top: 50%;
      right: -2.5%;
      transform: translateY(-50%);
    }
    .icon-complete{
      width: 20vw;
      height: 20vw;
      vertical-align: middle;
      fill: currentColor;
      overflow: hidden;
      color: #e6e6e6;
      position: absolute;
      top: -14%;
      right: -3%;
      z-index: 0;
      transform: rotate(18deg);
    }
    .price-box{
      color: #d3d3d3;
      width: 20%;
      flex-shrink: 0;
      text-align: center;
      dt{
        margin: 0 auto;
        font-size: 5vw;
        margin-bottom: 1vw;
        em{
          font-size: 8vw;
          list-style: none;
        }
      }
      dd{
        font-size: 3.5vw;
      }
    }
    .coupon-info{
      width: 60%;
      dt{
        font-size: 3.5vw;
        overflow : hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        color: #d3d3d3;
        line-height: 4vw;
      }
      dd{
        font-size: 3vw;
        color: #949494;
      }
    }
  }
  .coupon-explain{
    width: 100%;
    display: block;
    background-color: #ededed;
    box-sizing: border-box;
    padding: 2vw 6vw 2vw 2vw;
    font-size: 3.5vw;
    color: #979797;
    line-height: 5vw;
    border-radius: 0 0 2vw 2vw;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    position: relative;
  }
}