.group{
  width: 98vw;
  height: 14vw;
  margin: 0 auto 2vw auto;
  box-sizing: border-box;
  background-color: #fff;
  border: 2px solid #f5100d;
  box-sizing: border-box;
  padding: 0 3vw 0 6vw;
  border-radius: 2vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  .icon-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 4vw;
    font-weight: bold;
    color: #09090b;
    .icon{
      width: 7vw;
      height: 7vw;
      vertical-align: middle;
      fill: currentColor;
      overflow: hidden;
      margin-right: 2vw;
    }
  }
  .group-more{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    color: #939393;
    font-size: 3.5vw;
    .head-portrait{
      width: 7.5vw;
      height: 7.5vw;
      border-radius: 50%;
      margin-right: 2vw;
    }
    .icon-arrow{
      width: 3.5vw;
      height: 3.5vw;
      vertical-align: middle;
      fill: currentColor;
      overflow: hidden;
      margin-left: 1vw;
    }
  }
}