.order-menu{
  .am-grid-item-content{
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 3.2vw;
    color: #4c4c4e;
    position: relative;
    svg.icon{
      width: 5.5vw;
      height: 5.5vw;
      vertical-align: middle;
      fill: currentColor;
      overflow: hidden;
      color: #959595;
      margin-bottom: 2vw;
    }
    .am-badge{
      position: absolute;
      top: 0px;
      right: 1vw;
    }
  }
}