.set-up{
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 15px;
  background-color: #fff;
  .set-up-navbar{
    border-bottom: 1px solid #d8d8d8;
  }
  .set-up-box{
    background-color: #f4f4f4;
  }
}