.roll-info{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  span.title{
    font-size: 4vw;
    padding-right: 2vw;
    margin-right: 2vw;
    border-right: 1px solid #a2a2a2;
    flex-shrink: 0;
  }
  .roll-info-swiper-container{
    z-index: 0;
    height: 8vw;
    .swiper-slide{
      font-size: 3.5vw;
      height: 8vw;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: #a0a0a0;
      > img{
        width: 5vw;
        height: 5vw;
        border-radius: 0.5vw;
        margin-right: 1.5vw;
      }
    }
  }
}