.coupon-choice-popup{
  width: 100vw;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  touch-action: pan-y;
  >.title{
    width: 100%;
    font-size: 3.5vw;
    height: 7vw;
    line-height: 7vw;
  }
  .coupon-choice-box{
    box-sizing: border-box;
    .coupon-option{
      .za-cell__inner{
        min-height: 45px;
        .za-cell__icon{
          padding: 10px 0;
          color: #da3436;
          font-size: 3.5vw;
          b{
            font-size: 7.8vw;
            margin-left: 1vw;
          }
        }
        .za-cell__title{
          padding: 10px 0;
          .coupon-info{
            dt{
              font-size: 4vw;
              color: #505050;
            }
            dd{
              font-size: 3vw;
              color: #949494;
            }
          }
        }
      }
    }
  }
}