.shop-coupons{
  width: 100%;
  height: 21vw;
  box-shadow: 0 0 5px 0 #d2d2d2;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 2vw;
  margin-bottom: 3vw;
  position: relative;
  .price{
    width: 30%;
    font-size: 3vw;
    color: #d3301d;
    text-align: center;
    b{
      font-size: 10vw;
    }
  }
  .details{
    width: 45%;
    display: flex;
    flex-direction: column;
    i{
      font-size: 3.5vw;
      color: #565658;
      margin: 2.5vw 0;
    }
    em{
      font-size: 3vw;
      color: #8f8f8f;
    }
  }
  .state{
    font-size: 4vw;
    color: #fff;
    width: 20%;
    text-align: center;
    background-color: #ee281f;
    padding: 8px 0;
    border-radius: 5px;
    font-size: 3.5vw;
  }
  .tag{
    position: absolute;
    background-color: #e12b27;
    left: 0;
    top: 10%;
    padding: 2px 5px;
    border-radius: 0 2vw 2vw 0;
    color: #fff;
    font-size: 3vw;
  }
}