.after-sale-order{
  width: 100%;
  margin-bottom: 2vw;
  background-color: #fff;
  .head-box{
    width: 100%;
    box-sizing: border-box;
    padding: 2.5vw 3vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    .shop-link{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      font-size: 3.5vw;
      color: #343434;
      img{
        width: 5.5vw;
        height: 5.5vw;
        border-radius: 2px;
        margin-right: 2vw;
      }
      svg.icon{
        width: 5vw;
        height: 5vw;
        vertical-align: middle;
        fill: currentColor;
        overflow: hidden;
      }
    }
    .state-link{
      font-size: 3.5vw;
      color: #cc2735;
    }
  }
  .order-info{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 2vw 3vw;
    background-color: #f6f6f6;
    img{
      width: 20vw;
      height: 20vw;
      border-radius: 5px;
      flex-grow: 0;
    }
    dl.commodity{
      width: 100%;
      margin-left: 2vw;
      dt{
        font-size: 3.5vw;
        color: #1b1b1b;
        line-height: 5vw;
      }
      dd{
        font-size: 3.5vw;
        color: #999999;
        line-height: 5vw;
      }
    }
    dl.order{
      flex-grow: 0;
      text-align: right;
      dt{
        font-size: 3.5vw;
        color: #0f0f0f;
        margin-left: 2vw;
        margin-bottom: 5vw;
      }
      dd{
        font-size: 3.2vw;
        color: #999999;
      }
    }
  }
  .refund-info{
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    padding: 3vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid #f8f8f8;
    font-size: 3vw;
    color: #141414;
    .payment{
      display: flex;
      align-items: center;
      svg.icon{
        width: 5vw;
        height: 5vw;
        vertical-align: middle;
        fill: currentColor;
        overflow: hidden;
        color: #ea3430;
      }
      b{
        margin-left: 1vw;
        font-size: 3.5vw;
      }
    }
    .refund{
      margin-left: 3vw;
      b{
        color: #ea3430;
        font-size: 3.5vw;
        margin-left: 1vw;
      }
    }
  }
  .operation-box{
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    padding: 3vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid #f8f8f8;
    font-size: 3vw;
    .after-sale-but{
      padding: 2vw;
      font-size: 3.5vw;
      color: #171717;
      border: 1px solid #acacac;
      border-radius: 5px;
      margin-left: 3vw;
    }
  }
}