.activity-zone{
  width: 100%;
  .activity-unit{
    width: 40vw !important;
    height: 23vw;
    background-color: #fff1e6;
    border-radius: 3vw;
    box-sizing: border-box;
    padding: 4vw;
    flex-shrink: 0;
    margin: 0 2vw;
    position: relative;
    overflow: hidden;
    .info-box{
      position: absolute;
      top: 10%;
      left: 5%;
      dd{
        font-size: 3.2vw;
        color: #90867d;
        margin-bottom: 1vw;
      }
      dt{
        font-size: 3.8vw;
        font-weight: bold;
        color: #594c44;
      }
    }
    .but{
      font-size: 3.5vw;
      color: #fffeeb;
      background-color: #85604d;
      box-sizing: border-box;
      position: absolute;
      left: 5%;
      bottom: 10%;
      padding: 1.5vw;
      border-radius: 8vw;
    }
    .icon{
      position: absolute;
      right: -2%;
      bottom: -52%;
      width: 23vw;
      height: 23vw;
      vertical-align: middle;
      fill: currentColor;
      overflow: hidden;
    }
  }
}