.account-security{
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 25px;
  background-color: #fff;
  .account-security-navbar{
    border-bottom: 1px solid #d8d8d8;
  }
  .account-security-box{
    background-color: #f4f4f4;
    height: calc(100vh - 60px);
    .phone-info{
      width: 85%;
      margin: 16vh auto 0 auto;
      text-align: center;
      .phone{
        font-size: 3.5vh;
        color: #151515;
        margin-bottom: 1.5vh;
      }
      .remarks{
        font-size: 1.5vh;
        color: #9a9a9a;
        margin-bottom: 4vh;
      }
      .binding-but{
        background-color: #e02e24;
        border-radius: 5px;
        font-size: 2vh;
        color: #fff;
        text-align: center;
        box-sizing: border-box;
        padding: 2vh;
        margin-bottom: 2.5vh;
      }
      .switch-but{
        font-size: 2vh;
        color: #484848;
      }
    }
    .footnote-box{
      width: 85%;
      margin: 44vh auto 0 auto;
      color: #9f9f9f;
      text-align: center;
      font-size: 1.8vh;
      line-height: 3vh;
      .icon{
        width: 2.8vh;
        height: 2.8vh;
        color: #23b60d;
        vertical-align: middle;
        fill: currentColor;
        overflow: hidden;
      }
    }
  }
}