.coupon-center-box{
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 2vw;
  padding: 3vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  position: relative;
  .coupon-icon{
    width: 7.5vw;
    height: 7.5vw;
    border-radius: 50%;
    background-color: #f03f45;
    position: relative;
    margin-right: 2vw;
    svg.icon{
      width: 5vw;
      height: 5vw;
      vertical-align: middle;
      fill: currentColor;
      overflow: hidden;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
    }
  }
  .arrow-icon{
    width: 4vw;
    height: 4vw;
    vertical-align: middle;
    fill: currentColor;
    overflow: hidden;
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(-50%, -50%);
    color: #9e9e9e;
  }
}