.commodity-collection{
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 15px;
  background-color: #fff;
  .collection-navbar{
    border-bottom: 1px solid #d8d8d8;
  }
  .commodity-collection-mescroll{
    width: 100%;
    height: calc(100% - 14vw - 44px);
    overflow-y: auto;
    background-color: #f4f4f4;
  }
}