#recommend-mescroll{
  width: 100vw;
  // height: auto;
  box-sizing: border-box;
  .mescroll-box{
    background-color: #fff;
    width: 100vw;
  }
  .featured-section-box{
    background-color: #f5f4f2;
    box-sizing: border-box;
    width: 100%;
  }
  
  .mescroll-downwarp .downwarp-progress, .mescroll-upwarp .upwarp-progress{
    border: 1px solid #fff;
    border-bottom-color: transparent;
  }
  .mescroll-downwarp .downwarp-tip, .mescroll-upwarp .upwarp-tip, .mescroll-upwarp .upwarp-nodata{
    color: #fff;
  }
}

