.shop-icon{
  width: 8vw;
  height: 8vw;
  position: relative;
  >svg{
    width: 6vw;
    height: 6vw;
    vertical-align: middle;
    fill: currentColor;
    overflow: hidden;
    color: #0b0b0b;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.share-icon-block{
  .share-icon-block-box{
    width: 100vw;
    background-color: #f4f4f4;
    .menu-box{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      background-color: #fff;
      padding: 3vw 2vw;
      box-sizing: border-box;
      margin-bottom: 4vw;
      overflow-x: auto;
      .menu-unit{
        flex-shrink: 0;
        padding: 0 5vw;
        font-size: 3vw;
        text-align: center;
        color: #050505;
        span{
          background-color: #f4f4f4;
          width: 12vw;
          height: 12vw;
          border-radius: 50%;
          position: relative;
          display: block;
          margin: 0 auto 2vw auto;
          svg.icon{
            width: 8vw;
            height: 8vw;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            vertical-align: middle;
            fill: currentColor;
            overflow: hidden;
          }
        }
      }
    }
    .cancel-but{
      width: 100vw;
      height: 14vw;
      line-height: 14vw;
      color: #050505;
      background-color: #fff;
      text-align: center;
    }
  }
}